/*********************CSS Cart************************/
	table.cart thead th {color: #666;}
	table.cart tr th {text-align: center;}
	table.cart{text-align: center;width: 100%}
	table.cart td.image,table.cart th.image{width:10% !important;}
	table.cart td.item, table.cart td.item{width:55% !important; text-align: center;}
	table.cart td.qty, table.cart td.qty{width:10% !important;}
	table.cart td.price, table.cart td.price{width:20% !important; text-align: center;}
	table.cart td.remove, table.cart td.remove{width:5% !important;}
	input.item-quantity {border: 1px solid #ddd;border-radius: 3px;text-align: center;width: 80px;}
	table.cart tr th {padding: 10px 0px;margin-bottom: 10px !important;background-color: #efefef;border: 1px solid #e9e9e9;}

	td.remove a:before {
	content: '\f00d';
	display: inline-block;
	font-family: FontAwesome;
	width: 20px;
	height: 20px;
	font-size: 15px;
	color: #ddd;
	border: 1px solid #ddd;
	border-radius: 50%;
	line-height: 17px;
	padding-left: 3px;
	}
	.product_image img {margin: 10px 0px 10px;}
	table.cart tbody tr.item td{border: 1px solid #ddd;}
	tr.item td.price{color:#f00;font-weight:600}
	button#update-cart:hover {background: #c6ab7f;color: #fff;}
	table.cart tbody tr.summary td {padding: 30px 0px 0px;}
	button#checkout, button#update-cart{
	font-size: 100%;
	-webkit-transition: all 0.25s ease-out;
	transition: all 0.25s ease-out;
	-moz-transition: all 0.25s ease-out;
	-ms-transition: all 0.25s ease-out;
	-o-transition: all 0.25s ease-out;
	text-transform: uppercase;
	padding: 7px 16px;
	line-height: 20px;
	height: 34px;
	border: none;
	background: none;
	color: #666;
	background: #f5f5f5;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	}
	button#checkout{
	background: #c6ab7f;
	color:#fff;
	margin: 20px 0 0 20px;
	}
	button#checkout:hover{
	background: #b37c0a;
	}
	button#update-cart{	margin: 20px 0 0;}
	td.remove a:hover:before {border-color: #c6ab7f;color: #c6ab7f;	}
	.cart-visible{display:none;}

	.cart-buttons {padding-right: 0px;}
	@media screen and (max-width:550px){
	.cart-hidden, table.cart thead{display:none;}
	.cart-visible{display:block;}
	.cart-visible .product_image{padding:0;}
	table.cart tbody tr.item td {border: 1px solid #efefef;display: block;width: 100% !important;}
	table.cart tbody tr.item{width: 100% !important}
	.cart-item.cart-visible {padding-bottom: 20px;}
	.buttons.clearfix.pull-right {float: initial !important;}
	.product-info .title, .product-info .qty, .product-info .price-text{padding: 5px 0px;}
	input.item-quantity {margin-left:5px;}
	.remove-xs a {color: #f00;}
	.product-info .price-text .price{color:#f00;font-weight:600}
	#cart h1{margin-bottom:15px;}
	}